@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import url("../css/normalize.css");
html {
  font-family: "Montserrat", sans-serif;
}

nav,
section,
footer {
  padding: 0 calc(50% - 800px);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a.btn {
  display: inline-block;
  border: 3px solid white;
  padding: 10px 40px;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 25px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

a.btn:hover {
  background-color: white;
  color: black;
}

nav {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 80px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

nav.is-scroll {
  height: 70px;
  -webkit-box-shadow: 0 2px 10px #222;
          box-shadow: 0 2px 10px #222;
}

.nav__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  padding: 0 250px;
  color: #ea1212;
  font-size: 25px;
  font-weight: 500;
}

.nav__container a {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ea1212), to(transparent)) bottom/var(--d, 0) 3px no-repeat;
  background: linear-gradient(90deg, transparent, #ea1212, transparent) bottom/var(--d, 0) 3px no-repeat;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav__container a:hover {
  color: #ea1212;
  --d: 100%;
}

.nav__logo {
  font-size: 1.3em;
  font-weight: 600;
  z-index: 11;
}

.nav__logo p {
  margin: 0;
  background-color: white;
}

.nav__menu {
  width: 60%;
}

.menu-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list li {
  margin-right: 15px;
}

.menu-list a {
  color: black;
}

.nav__burger {
  display: none;
}

.header {
  background: linear-gradient(77.28deg, #9e00ff 33.45%, rgba(243, 0, 131, 0.79) 61.3%);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 140px 250px 60px;
}

.header__container img {
  width: 400px;
  height: 100%;
  margin-right: 100px;
}

.header__container p {
  font-size: 1.5rem;
  max-width: 520px;
}

.header__container a.btn {
  border-width: 2px;
}

h1 {
  font-size: 5.8rem;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 30px;
}

.mission__container {
  position: relative;
}

.mission__container::before {
  position: absolute;
  content: "";
  background: url(../img/line-top.svg) no-repeat;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

.mission__container::after {
  position: absolute;
  content: "";
  background: url(../img/line-bottom.svg) no-repeat;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
}

.mission__container * {
  text-transform: capitalize;
}

.mission__container * a {
  color: #ea1212;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mission__container * a:hover {
  color: #3a0cef;
}

.mission__title {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.mission__title p {
  font-size: 2rem;
  opacity: 0.9;
  margin-bottom: 15px;
}

.mission__title p:last-child {
  margin-top: 10px;
  text-transform: none;
  font-size: 3rem;
  font-weight: 600;
}

p.title {
  font-weight: 500;
}

.mission__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 200px;
}

.mission__items p.title {
  margin: 25px 0 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.mission__items p {
  max-width: 260px;
  font-weight: 300;
}

.mission__items a {
  font-weight: 300;
  font-size: 1.2rem;
}

.mission__item {
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
}

.mission__item img {
  width: 110px;
  height: 110px;
}

.mission__item :first-child {
  -ms-grid-column-align: center;
      justify-self: center;
}

.mission__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 200px 60px;
}

.mission__content .mission__img {
  margin-right: 15px;
  max-width: 700px;
  width: 100%;
  height: auto;
}

.mission__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission__article p {
  max-width: 430px;
  margin-bottom: 30px;
}

.mission__article p.title {
  margin: 40px 0 10px;
  font-size: 1.6rem;
}

.mission__article .article__img {
  max-width: 240px;
  max-height: 150px;
  height: 100%;
  width: 100%;
  background-color: #c4c4c4ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.mission__article .article__img img {
  width: 100%;
  height: auto;
}

.features {
  background-color: #e3dcdc1c;
  background-image: url(../img/features-bg.svg);
  background-position: 0px 0px;
  -webkit-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
}

.features__container {
  text-align: center;
  padding: 20px 0;
}

.features__title p {
  font-size: 1.3rem;
}

.features__title p.title {
  font-size: 2rem;
}

.features__items {
  padding: 20px 200px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr 1fr/repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}

.features__item {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__item::before {
  position: absolute;
  content: "";
  top: -20px;
  right: 0;
  width: 2px;
  height: 120%;
  background-color: #37bb5c;
}

.features__item:nth-child(3n + 3)::before {
  content: none;
}

.features__item p.title {
  color: #ea1212;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.features__item:nth-child(2n) p.title {
  color: #3a0cef;
}

.item__content {
  margin: 0 20px;
  width: 250px;
  height: 200px;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(105.42deg, #49a3f7 32.05%, #d702a8 72.75%);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
}

.item__content :last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0;
  opacity: 0.7;
  font-size: 1.1rem;
  max-width: 200px;
}

.team {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33.33%, rgba(45, 5, 60, 0.88)), color-stop(93.58%, rgba(64, 36, 176, 0.75)));
  background: linear-gradient(180deg, rgba(45, 5, 60, 0.88) 33.33%, rgba(64, 36, 176, 0.75) 93.58%);
}

.team__container {
  padding: 60px 200px;
  color: white;
}

.team__people {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
}

.team__person {
  max-width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: 30px;
  position: relative;
}

.team__person p {
  margin: 0 20px 0 0;
  font-size: 1.5rem;
  text-align: end;
}

.team__person img {
  max-width: 300px;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}

.team__person::before {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  right: -30px;
  width: 70%;
  background: #c4c4c488;
  z-index: 0;
}

.team__desc {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.team__desc a.btn {
  margin-top: 40px;
  padding: 10px 50px;
  font-size: 1.3rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 0px 4px 4px 0px #00000040;
          box-shadow: 0px 4px 4px 0px #00000040;
  font-weight: 500;
}

.service__container {
  padding: 0 100px;
}

.service__content {
  padding: 0 100px;
  border-left: 10px solid;
  border-right: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, #702b88 42.81%, #705bc4 49.86%);
}

.service__content p.title {
  margin-top: 0;
}

.service__title {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: center;
  padding: 50px 0 30px;
}

.service__title p.title {
  font-size: 1.6rem;
}

.service__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 0 0 30px;
}

.service__gallery img {
  width: 100%;
  height: auto;
}

.service__gallery :last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.creative {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.33%, rgba(92, 14, 120, 0.88)), color-stop(81.87%, rgba(176, 36, 87, 0.95)));
  background: linear-gradient(180deg, rgba(92, 14, 120, 0.88) 26.33%, rgba(176, 36, 87, 0.95) 81.87%);
}

.creative__container {
  padding: 50px 80px;
}

.creative__content {
  background: -webkit-gradient(linear, left top, left bottom, from(#f90404), color-stop(86.75%, rgba(249, 4, 4, 0)));
  background: linear-gradient(180deg, #f90404 0%, rgba(249, 4, 4, 0) 86.75%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creative__desc {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  color: white;
}

.creative__desc a {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.creative__desc p {
  font-size: 1.3rem;
}

.creative__desc p.title {
  text-transform: capitalize;
  font-size: 3.5rem;
  margin: 10px 0;
}

.creative__desc p.title span {
  font-size: 2.5rem;
}

.creative__gallery {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.creative__gallery :first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.creative__gallery img {
  width: 100%;
  height: 100%;
}

footer {
  background: #433b3b;
}

.footer__container {
  padding: 30px 70px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container a {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__container a:hover {
  color: #ff256e;
}

.footer__container a.link {
  font-weight: 700;
  font-size: 1.5rem;
}

.footer__container a.btn {
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0;
  border-color: #ea1212;
}

.footer__container a.btn:hover {
  background-color: #ea1212;
  color: white;
}

.footer__container .sign {
  margin-top: 40px;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer__container .sign a {
  font-size: 1.3rem;
}

.footer__container .sign p:last-child {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1rem;
}

.socials {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: start;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials li {
  font-size: 1.6rem;
  margin-right: 10px;
}

.header__desc h1,
.header__desc p,
.header__desc a,
nav,
.header__container img,
.creative__desc p.title,
.creative__desc p.text,
.creative__desc a {
  opacity: 0;
}

@media (max-width: 1400px) {
  .team__container {
    padding: 60px 130px;
  }
}

@media (max-width: 1280px) {
  .nav__container {
    padding: 0 150px;
  }
  .header__container {
    padding: 130px 150px 60px;
  }
  .header__container p {
    font-size: 1.3rem;
    max-width: 480px;
  }
  .header__container img {
    width: 350px;
    margin-right: 80px;
  }
  .header__container a {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 5rem;
  }
  .menu-list li {
    font-size: 1.5rem;
  }
  .mission__title p {
    font-size: 1.7rem;
  }
  .mission__title p:last-child {
    font-size: 2.7rem;
  }
  .mission__items {
    padding: 30px 90px;
  }
  .mission__content {
    padding: 20px 90px 60px;
  }
  .features__items {
    padding: 20px 50px 40px;
  }
  .team__container {
    padding: 60px 100px;
  }
  .team__people {
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .team__person {
    max-width: 250px;
  }
  .team__person img {
    width: 250px;
    max-height: 280px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .service__content,
  .service__container {
    padding: 0 80px;
  }
  .service__gallery {
    gap: 25px;
  }
  .creative__desc p.title {
    font-size: 3rem;
  }
  .creative__desc p.title span {
    font-size: 2rem;
  }
}

@media (max-width: 950px) {
  .nav__container {
    padding: 0 50px;
  }
  .header__container {
    padding: 130px 50px 60px;
  }
  .header__container p {
    font-size: 1.1rem;
    max-width: 400px;
  }
  .header__container img {
    width: 300px;
    margin-right: 60px;
  }
  .header__container a {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  .menu-list li {
    font-size: 1.4rem;
  }
  .mission__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
  }
  .mission__items .mission__item {
    margin: 0 20px 30px;
  }
  .mission__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mission__content .mission__img {
    margin-bottom: 30px;
  }
  .mission__content .mission__article {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: start;
  }
  .features__items {
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: 1fr 1fr;
        grid-template: repeat(3, 1fr)/1fr 1fr;
  }
  .features__item:nth-child(4) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .features__item:nth-child(4)::before {
    content: none;
  }
  .features__item:nth-child(1) {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .team__container {
    padding: 50px 20px;
  }
  .team__people {
    -ms-grid-columns: (minmax(210px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  .team__person {
    max-width: 200px;
  }
  .team__person img {
    width: 200px;
    max-height: 200px;
  }
  .service__content,
  .service__container {
    padding: 0 50px;
  }
  .service__gallery {
    gap: 20px;
  }
  .service__title {
    font-size: 1.2rem;
  }
  .creative__desc p {
    font-size: 1.1rem;
  }
  .creative__desc p.title {
    font-size: 2rem;
  }
  .creative__desc p.title span {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .nav__container {
    padding: 0 20px;
  }
  .header__container {
    padding: 130px 20px 60px;
  }
  .header__container p {
    font-size: 1rem;
    max-width: 350px;
  }
  .header__container img {
    width: 250px;
    margin-right: 40px;
  }
  .header__container a {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }
  h1 {
    margin-top: 10px;
  }
  .nav__menu {
    z-index: 10;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: white;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .nav__menu.active {
    top: 0;
  }
  .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-list li {
    margin-bottom: 30px;
    font-size: 1.6rem;
  }
  .nav__burger {
    z-index: 11;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .nav__burger::before, .nav__burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }
  .nav__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .nav__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .features__items {
    padding: 20px 0px 40px;
  }
  .item__content {
    margin: 0 10px;
  }
  .service__content,
  .service__container {
    padding: 0 20px;
  }
  .service__gallery {
    gap: 20px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .service__gallery :last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .service__title {
    padding: 30px 0 30px;
  }
  .creative__container {
    padding: 30px 20px;
  }
  .footer__container {
    padding: 50px 20px 10px;
    gap: 15px;
  }
  .footer__container a.btn {
    font-size: 1.1rem;
  }
  .socials {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .header__container {
    padding: 90px 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header__container a {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .header__container img {
    width: 90%;
    margin: 10px auto 15px;
    max-height: 300px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__desc {
    padding: 50px 0 60px;
  }
  .header__desc h1 {
    margin-bottom: 40px;
    line-height: 80px;
  }
  .header__desc p {
    margin: 40px 0 60px;
    line-height: 30px;
  }
  .mission__article .article__img {
    display: none;
  }
  .mission__article p.title {
    margin-top: 10px;
  }
  .mission__container::after, .mission__container::before {
    content: none;
  }
  .mission__content {
    padding: 20px 20px 40px;
  }
  .features {
    background-image: none;
  }
  .features__items {
    -ms-grid-rows: (1fr)[6];
    -ms-grid-columns: 1fr;
        grid-template: repeat(6, 1fr)/1fr;
  }
  .features__item::before {
    content: none;
  }
  .features__item:nth-child(4) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .features__item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .team__desc a.btn {
    padding: 10px 30px;
  }
  .service__content {
    padding: 0 10px;
  }
  .service__container {
    padding: 0;
  }
  .service__gallery {
    gap: 0px;
  }
  .creative__container {
    padding: 30px 10px;
  }
  .creative__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .creative__desc,
  .creative__gallery {
    width: 100%;
  }
  .creative__gallery {
    padding: 20px 10px;
  }
  .creative__desc {
    padding: 20px 10px;
  }
  .footer__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  .footer__container a.btn {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .footer__container .sign {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .socials {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */