@media (max-width: 1400px) {
  .team__container {
    padding: 60px 130px;
  }
}

@media (max-width: 1280px) {
  @include header(150px, 1.3rem, 480px, 350px, 80px, 1.3rem, 5rem);
  .menu-list {
    li {
      font-size: 1.5rem;
    }
  }
  .mission__title {
    p {
      font-size: 1.7rem;
      &:last-child {
        font-size: 2.7rem;
      }
    }
  }
  .mission__items {
    padding: 30px 90px;
  }
  .mission__content {
    padding: 20px 90px 60px;
  }
  .features__items {
    padding: 20px 50px 40px;
  }
  .team__container {
    padding: 60px 100px;
  }
  .team__people {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .team__person {
    max-width: 250px;
    img {
      width: 250px;
      max-height: 280px;
      object-fit: cover;
      object-position: top;
    }
  }
  .service__content,
  .service__container {
    padding: 0 80px;
  }
  .service__gallery {
    gap: 25px;
  }
  .creative__desc {
    p.title {
      font-size: 3rem;
      span {
        font-size: 2rem;
      }
    }
  }
  .portfolio__header__container {
    width: 100%;
    padding: 0 20px;
  }
  .portfolio__header {
    h2 {
      margin: 10px 0;
      font-size: 2.2rem;
    }
  }
  .header__btn {
    a {
      position: relative;
      top: 10px;
    }
  }
  #mCSB_1 {
    width: 100%;
  }
  #mCSB_1_container {
    column-gap: 100px;
    padding: 0 30px;
  }
  .portfolio__works {
    padding-top: 10px;
  }
  .portfolio__work {
    width: 100%;
  }
  .work__desc {
    padding: 15px 30px;
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 950px) {
  @include header(50px, 1.1rem, 400px, 300px, 60px, 1.2rem, 4.5rem);
  .menu-list {
    li {
      font-size: 1.4rem;
    }
  }
  .mission__items {
    justify-content: center;
    padding: 30px;
    .mission__item {
      margin: 0 20px 30px;
    }
  }
  .mission__content {
    flex-direction: column;
    .mission__img {
      margin-bottom: 30px;
    }
    .mission__article {
      align-items: start;
      text-align: start;
    }
  }
  .features__items {
    grid-template: repeat(3, 1fr) / 1fr 1fr;
  }
  .features__item {
    &:nth-child(4) {
      order: -1;
      &::before {
        content: none;
      }
    }
    &:nth-child(1) {
      order: -2;
    }
  }
  .team__container {
    padding: 50px 20px;
  }
  .team__people {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  .team__person {
    max-width: 200px;
    img {
      width: 200px;
      max-height: 200px;
    }
  }
  .service__content,
  .service__container {
    padding: 0 50px;
  }
  .service__gallery {
    gap: 20px;
  }
  .service__title {
    font-size: 1.2rem;
  }
  .creative__desc {
    p {
      font-size: 1.1rem;
      &.title {
        font-size: 2rem;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
  .portfolio__header {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.6rem;
    }
  }
  .header__btn {
    a {
      top: 0;
      &.btn {
        font-size: 1.1rem;
      }
    }
    :first-child {
      font-size: 1.1rem;
      img {
        width: 12px;
        height: 11px;
      }
    }
  }
  #mCSB_1_container {
    column-gap: 40px;
  }
  .mCSB_scrollTools .mCSB_dragger,
  .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag {
    .mCSB_dragger_bar {
      left: -2px;
      width: 6px;
    }
  }
  .work__desc {
    padding: 15px 30px;
    h3 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 768px) {
  @include header(20px, 1rem, 350px, 250px, 40px, 1rem, 4rem);

  h1 {
    margin-top: 10px;
  }
  .nav__menu {
    z-index: 10;
    position: fixed;
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-items: flex-start;
    background: white;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    &.active {
      top: 0;
    }
  }
  .menu-list {
    flex-direction: column;
    li {
      margin-bottom: 30px;
      font-size: 1.6rem;
    }
  }
  .nav__burger {
    z-index: 11;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    width: 30px;
    height: 20px;
    &::before,
    &::after {
      content: "";
      background-color: black;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      position: absolute;
      background-color: black;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease;
    }

    &.active {
      &::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span {
        transform: scale(0);
      }
    }
  }
  .features__items {
    padding: 20px 0px 40px;
  }
  .item__content {
    margin: 0 10px;
  }
  .service__content,
  .service__container {
    padding: 0 20px;
  }
  .service__gallery {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    :last-child {
      grid-column: 1 / span 2;
    }
  }
  .service__title {
    padding: 30px 0 30px;
  }
  .creative__container {
    padding: 30px 20px;
  }
  .footer__container {
    padding: 50px 20px 10px;
    gap: 15px;
    a.btn {
      font-size: 1.1rem;
    }
  }
  .socials {
    width: 100%;
  }
  .portfolio__header {
    h2 {
      display: none;
    }
  }
  #mCSB_1_container {
    grid-template-columns: 1fr;
    margin-right: 10px;
  }
  .mCSB_scrollTools {
    right: 20px;
  }
  .portfolio__work {
    max-width: 500px;
  }
  .work__desc {
    padding: 15px 30px;
    h3 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 560px) {
  .header__container {
    padding: 90px 20px 20px;
    flex-direction: column-reverse;
    a {
      margin-top: 10px;
      margin-bottom: 25px;
    }
    img {
      width: 90%;
      margin: 10px auto 15px;
      max-height: 300px;
      height: auto;
      object-fit: cover;
    }
  }
  .header__desc {
    padding: 50px 0 60px;
    h1 {
      margin-bottom: 40px;
      line-height: 80px;
    }
    p {
      margin: 40px 0 60px;
      line-height: 30px;
    }
  }
  .mission__article {
    .article__img {
      display: none;
    }
    p.title {
      margin-top: 10px;
    }
  }
  .mission__container {
    &::after,
    &::before {
      content: none;
    }
  }
  .mission__content {
    padding: 20px 20px 40px;
  }
  .features {
    background-image: none;
  }
  .features__items {
    grid-template: repeat(6, 1fr) / 1fr;
  }
  .features__item {
    &::before {
      content: none;
    }
    &:nth-child(4) {
      order: 0;
    }
    &:nth-child(1) {
      order: 0;
    }
  }
  .team__desc {
    a.btn {
      padding: 10px 30px;
    }
  }
  .service__content {
    padding: 0 10px;
  }
  .service__container {
    padding: 0;
  }
  .service__gallery {
    gap: 0px;
  }
  .creative__container {
    padding: 30px 10px;
  }
  .creative__content {
    flex-direction: column;
  }
  .creative__desc,
  .creative__gallery {
    width: 100%;
  }
  .creative__gallery {
    padding: 20px 10px;
  }
  .creative__desc {
    padding: 20px 10px;
  }
  .footer__container {
    grid-template-columns: 1fr;
    gap: 20px;
    a.btn {
      justify-self: center;
    }
    .sign {
      grid-template-columns: 1fr;
      grid-column: 1 / 2;
    }
  }
  .socials {
    margin: 0;
  }
  .portfolio__header__container {
    padding: 0 20px 10px;
    flex-wrap: wrap;
  }
  .portfolio__header {
    h1 {
      font-size: 1.7rem;
      margin: 10px 10px 10px 0;
    }
  }
  .header__btn {
    a {
      &.btn {
        display: none;
      }
    }
  }
  .portfolio__works {
    height: fit-content;
    padding: 10px;
  }
  .portfolio__work {
    padding: 20px 0;
  }
  #mCSB_1_container {
    margin: 0;
    padding: 0;
  }
  #mCSB_1_scrollbar_vertical {
    display: none;
  }
  .mCSB_draggerContainer {
    display: none;
  }
  .work__desc {
    padding: 5px 10px;
    h3 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
