@font-face {
  font-family: "monotype corsiva";
  font-style: normal;
  font-weight: 400;
  src: local("monotype corsiva"), url("../fonts/mtcorsva.woff2") format("woff2"),
    url("../fonts/mtcorsva.woff") format("woff");
}

.portfolio__header {
  * {
    display: inline-block;
  }
  h1 {
    text-transform: uppercase;
    color: #dd5e5e;
    font-size: 3rem;
    margin: 20px 15px 20px 0;
  }
  h2 {
    font-family: "monotype corsiva";
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 20px 15px;
  }
  display: flex;
  justify-content: space-between;
}
.portfolio__container {
  padding: 30px 150px;
}
.header__btn {
  a {
    color: black;
    &.btn {
      border: 2px solid black;
      padding: 5px 10px;
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 25px;
      background: none;
      &:hover {
        background-color: black;
        color: white;
      }
    }
    background: linear-gradient(90deg, transparent, $red, transparent) bottom /
      var(--d, 0) 3px no-repeat;
    transition: all 0.4s;
    &:hover {
      --d: 100%;
    }
  }
  :first-child {
    font-size: 1.3rem;
    img {
      width: 16px;
      height: 15px;
    }
    span {
      font-weight: 500;
    }
  }
}
